
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    background: #ccc;
    height: 100%;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}


@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
h1 { text-align: center; }

.dropzone {
    background: #0c0e11;
    border-radius: 5px;
    border: 2px dashed #fff;
    border-image: none;
    max-width: 500px;
		height: 300px;
    margin-left: auto;
    margin-right: auto;
}
button{
  border: 2px solid #fff;
  border-radius: 25px;
  font-weight: 700;
  width: 200px;
  padding: 10px 15px;
	font-family: inherit;
  color: #fff;
  background-color: #0c0e11;
  /* visibility: hidden; */
  align-self: center;
  margin: auto;
  display: block;
  margin-top: 50px;
}
button:active{
  border: 2px solid #0c0e11;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 15px;
  color: #0c0e11;
  background-color: #ccc;
}
.needsclick {
	color: #ccc;
}
button:disabled{
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.35;
	filter: alpha(opacity=35);
	-webkit-box-shadow: none;
	box-shadow: none;
  }
  
  